<p id="notice"><%= notice %></p>

<h1>Professionals</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <td><%= link_to 'Mostrar', professional, class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_professional_path(professional),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', professional, method: :delete,class:"btn btn-danger",
                        data: { confirm: 'Esta seguro? Se eliminaran todas las citas' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Profesional', new_professional_path, class:"btn btn-success" %>
