<p id="notice"><%= notice %></p>
<h1>Professionals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <% if can? :read, @professionals %>
          <td><%= link_to ' Mostrar', professional, class:"btn bi-eye-fill" %></td>
        <% end %>
        <% if can? :edit, @professionals %>
          <td><%= link_to ' Editar', edit_professional_path(professional),class:"btn bi-pencil-fill" %></td>
        <% end %>
        <% if professional.appointments.length > 0 %>
          <td></td>
        <% else %>
          <% if can? :destroy, @professionals %>
            <td><%= link_to ' Eliminar', professional, method: :delete,class:"btn bi-trash-fill",
                          data: { confirm: 'Esta seguro? Se eliminaran todas las citas' } %></td>
          <% end %>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional', new_professional_path, class:"btn btn-success" %>

<script>

</script>
