<br>
<div class="card">
  <div class="card-header">
    <h1><%= @appointment.name %> <%= @appointment.surname %></h1>
  </div>
  <div class="card-body">
    <strong>Phone:</strong>
    <%= @appointment.phone %>

    <br>
    <strong>Date:</strong>
    <%= @appointment.date %>

    <br>
    <strong>Professional:</strong>
    <%= @appointment.professional.name %>

    <hr class="my-4">
      <strong>Notes:</strong>
      <%= @appointment.notes %>

    <br>
    <div class="actions">
      <% if can? :edit, @professionals %>
        <%= link_to 'Edit', edit_appointment_path(@appointment), class:'btn btn-secondary' %>
      <% end %>
      <%= link_to 'Appointments', appointments_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>